@charset "UTF-8";

.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    overflow: hidden;
    /* background-color: beige; */
}

.ticket-open,
.web-magazine {
    margin: 48px 0 48px;
}
.ticket-open h2,
.web-magazine h2 {
    color: #000;
    text-align: center;
    margin-bottom: 60px;
}
.ranking h2,
.stage-talk h2 {
    color: #000;
    text-align: center;
    padding: 48px 0;
}
.ranking,
.stage-talk {
    background-color: #f8f8f8;
    padding-bottom: 72px;
 }
 .ranking-menu,
 .stage-talk-menu {
    width: 620px;
    margin: 0 auto 28px;
}
.ranking-menu > ul,
.stage-talk-menu > ul {
   display: flex;
   justify-content: space-between;
}
.ranking-menu > ul > li > a,
.stage-talk-menu > ul > li > a {
    color: #6c6c6c;
    font-size: 24px;
}
.ranking-menu > ul > li > a .selected,
.stage-talk-menu > ul > li > a .selected {
   color: #00b7f2;
   font-weight: bold;
}
.ranking-menu > ul > li > a:hover,
.stage-talk-menu > ul > li > a:hover {
   color: #00b7f2;
   font-weight: bold;
}

/*===== header =====*/ 
header {
    position: relative;
    width: 100%; height: 224px;
    padding-top: 45px;
    /* background-color: cornflowerblue; */
}

/* logo-topmenu-icon */
.logo-topmenu-icon {
    display: flex;
    justify-content: space-between;
}

/* logo */
.logo {
    width: 280px;
}
.logo img {
    width: 100%;
}

/* topmenu */
.topmenu {
    width: 460px;
}
.topmenu > ul {
    padding-top: 48px;
    display: flex;
    justify-content: space-between;
}
.topmenu li {
    font-size: 20px;
    letter-spacing: -2px;
}
.topmenu li:hover {
    font-weight: bold;
}

/* icon */
.icon {
    width: 320px;
}
.icon img {
    width: 20px;
}
.icon > .login {
    position: absolute;
    top: 20px; right: 44px;
}
.icon > .mypage {
    position: absolute;
    top: 20px; right: 12px;
}
.icon > .mypage > a:hover {
    color: #00b7f2;
}
.icon .search-box input {
    position: absolute;
    top: 44px; right: 10px;
    width: 180px; height: 30px;
    padding: 0 8px;
    border: 0;
    border-radius: 8px;
    background-color: #f8f8f8;
}
.icon .search-box input::-webkit-search-cancel-button {
    display: none;
}
.icon .search-box img {
    position: absolute;
    top: 48px; right: 12px;
}

/* main-menu */
.main-menu {
    width: 800px;
    padding-top: 76px;
    /* position: absolute;
    bottom: 16px; */
} 
.main-menu .gnb {
    display: flex;
    justify-content: space-between;
}
.main-menu .gnb li {
    font-size: 16px;
}
.main-menu .gnb li:hover {
    text-decoration: underline;
}


/*===== main =====*/ 
/* slide */
.slide {
    position: relative;
    width: 100vw; height: 470px;
    /* margin: 0 auto; */
    margin-bottom: 48px;
    overflow-x: hidden;
}
.slide > h2 {
    font-size: 0;
}
/* slide-images */
.slide > .slidebox > .slide-images {
    display: flex;
    transform: translateX(30px);
    z-index: 1;
}
.slide > .slidebox > .slide-images img {
    height: 450px;
    margin-right: 12px;
}

/* slide-margin */
.slide > .slidebox > .slide-margin {
    display: block;
    position: absolute;
    top: 0; left: 0;
    /* transform: translateX(-50%); */
    overflow-x: hidden;

    width: 100vw; height: 450px;
    margin: 0 auto;
    z-index: 2;
}
.slide > .slidebox > .slide-margin > .visible {
    position: relative;
    width: 1180px; height: 450px;
    margin: 0 auto;
}
.slide > .slidebox > .slide-margin > .visible > .left-box,
.slide > .slidebox > .slide-margin > .visible > .right-box {
    position: absolute;
    width: 360px; height: 450px;
    background-color: #ffffffc7;
}
.slide > .slidebox > .slide-margin > .visible > .left-box {
    top: 0; left: -360px;
}
.slide > .slidebox > .slide-margin > .visible > .right-box {
    top: 0; right: -360px;
}

/* slide-btn */

.slide > .slidebox > .slide-btn {
    position: absolute;
    top: 40%; left: 50%;
    transform: translateX(-50%);

    width: 1180px; height: 88px;
    margin: 0 auto;
    z-index: 3;
    /* background-color: chartreuse; */
}
.slide > .slidebox > .slide-btn > .container {
    width: 1180px; 
    padding: 0 3px;
    display: flex;
    justify-content: space-between;
}
.slide > .slidebox > .slide-btn img {
    height: 88px;
}

/* ticket-open */
.ticket-open .open-list  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 20px;
}
.ticket-open .open-list li{
    position: relative;
    width: 580px; height: 280px;
    border: 1px solid #6c6c6c;
}
.ticket-open .open-list li img{
    width: 198px; height: 278px;
}
.ticket-open .open-list li .open-txt {
    height: 208px;
    position: absolute;
    top:72px; left: 232px;
}
.ticket-open .open-list li .open-txt time {
    font-size: 28px;
    font-weight: bold;
}
.ticket-open .open-list li .open-txt .perf-name {
    margin-top: 36px;
    color: #6c6c6c;
}
.ticket-open .open-list li .open-txt .perf-type {
    position: absolute;
    bottom: 40px;
    color: #6c6c6c;
}
.ticket-open .open-list li .open-txt .perf-type .fixed {
    color: #c5d825;
}
.ticket-open .open-list li .open-txt .perf-type .time-deal {
    color: #f84b2f;
}
.ticket-open .open-list li .d-day {
    width: 80px; height: 80px;
    position: absolute;
    top: 0; right: 0;
    padding-top: 16px;
    color: #fff;
    font-size: 13px;
    text-align: center;
    background-color: #6c6c6c;
}
.ticket-open .open-list li .today {
    background-color: #2b2b2b;
}
.ticket-open .open-list li .d-day .d-date {
    color: #00b7f2;
    line-height: 0.8;
    font-size: 16px;
    font-weight: bold;
}

 /* ranking */
.ranked-perf {
    display: flex;
    justify-content: space-between;
}
.ranked-perf > div {
    position: relative;
    width: 380px; height: 380px;
    text-align: center;
}
.ranked-perf > div:first-child {
    background: url(../images/poster_2am_bg.jpg) no-repeat center center;
    background-size: cover;
}
.ranked-perf > div:nth-child(2) {
    background: url(../images/poster_magic\ n\ illusion_bg.jpg) no-repeat center center;
    background-size: cover;
}
.ranked-perf > div:last-child {
    background: url(../images/poster_kennyG_bg.jpg) no-repeat center center;
    background-size: cover;
}
.ranked-perf > div:hover {
    background-size: 135%;
}
.ranked-perf .ranked-num {
    position: absolute;
    top: 0; left: 12px;
    margin-top: -10px;
    color: #fff;
    font-size: 64px;
}
.ranked-perf img {
    position: absolute;
    left: 190px;
    transform: translateX(-50%);
    width: 200px; height: 280px;
}
.ranked-perf .perf-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px 0 8px;
    color: #fff;
    background-color: #2b2b2b;
}
.ranked-perf .perf-info strong {
    margin-bottom: 8px;
    font-size: 20px;
}
.ranked-perf .perf-info time,
    .ranked-perf .perf-info .place {
    font-size: 12px;
    color: #6c6c6c;
}
.ranked-perf .perf-info time{
    margin-right: 16px;
}

/* web-megazine */
.web-magazine .content-area {
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: justify;
}

/* main-article */
.web-magazine .main-article {
    width: 540px; height: 875px;
    margin-right: 40px;
    position: sticky;
    top: 10px;
    /* background-color: lemonchiffon; */
}
.web-magazine .main-article img {
    width: 540px; height: 760px;
}
.web-magazine .main-article strong {
    margin: 16px 0;
    font-size: 24px;
    line-height: 1.2;
}
.web-magazine .main-article .perf-info {
    /* position: absolute;
    bottom: 0; */
    color: #6c6c6c;
    font-size: 20px;
}

/* sub-article */
.web-magazine .sub-article01,
.web-magazine .sub-article02 {
    width: 280px;
    /* background-color: aqua; */
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 48px; */
}
.web-magazine .sub-article02 {
    margin-top: 132px;
}
.web-magazine .sub-article01 > div,
.web-magazine .sub-article02 > div {
    position: relative;
    width: 280px; height: 456px;
    margin-bottom: 48px;
}
.web-magazine .sub-article01 img,
.web-magazine .sub-article02 img {
    width: 280px; height: 390px;
}
.web-magazine .sub-article01 strong,
.web-magazine .sub-article02 strong {
    margin: 8px 0;
    font-size: 12px;
    line-height: 1.2;
}
.web-magazine .sub-article01 .perf-info,
.web-magazine .sub-article02 .perf-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #6c6c6c;
    font-size: 10px;
}

/* stage-talk */
/* talk-box */
.stage-talk .talk-box {
    width: 1276px; height: 432px;
    border-radius: 40px;
    margin: 0 auto;
    background-color: #fff;
}
.stage-talk .talk-box > .container {
    display: flex;
    justify-content: space-between;
    padding: 64px 100px;
}
.stage-talk .talkbox-info {
    width: 210px;
    margin-top: 32px;
}
.stage-talk .talkbox-info > h3 {
    font-size: 36px;
    /* font-weight: bold; */
}
.stage-talk .talkbox-info > p {
    margin: 40px 0;
    color: #6c6c6c;
    font-size: 20px;
    letter-spacing: -2px;
}
.stage-talk .talkbox-info > a {
    color: #c5d825;
    text-decoration: underline;
}

/* talk-content */
.stage-talk .talk-content {
    width: 740px;
}
.stage-talk .talk-content .hall-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 20px;
}
.stage-talk .talk-content .hall-list > div {
    width: 360px; height: 142px;
    border: 1px solid #ececec;
    border-radius: 20px;
}
.stage-talk .talk-content .hall-list a {
    position: relative;
    width: 336px; height: 116px;
    margin: 12px;
    border: 1px solid #ececec;
    border-radius: 10px;
}
.stage-talk .talk-content .hall-list img {
    width: 180px;
    border-radius: 10px;
}
.stage-talk .talk-content .hall-list a > strong {
    position: absolute;
    top: 20px; right: 8px;
    font-size: 24px;
    font-weight: normal;
}
.stage-talk .talk-content .hall-list a .hall-type {
    position: absolute;
    bottom: 12px; right:8px;
}
.stage-talk .talk-content .hall-list a .hall-type .type {
    font-weight: bold;
}
.stage-talk .talk-content .hall-list a .hall-type .type1,
.stage-talk .talk-content .hall-list a .hall-type .type2 {
    width: 200px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.stage-talk .talk-content .hall-list a .hall-type p {
    line-height: 1.2;
}
.stage-talk .talk-content .hall-list a .hall-type .small {
    font-size: 12px;
}

/*===== footer =====*/ 
footer {
    position: relative;
    width: 100%; /* height: 276px; */
    color: #fff;
    background-color: #2b2b2b;
}

/* logo-menu-sns */
.logo-menu-sns > .container {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

/* footer-logo */
.footer-logo {
    width: 194px;
    margin-top: 10px;
}
.footer-logo img {
    width: 100%;    
}

/* footer-menu */
.footer-menu > ul {
    width: 316px;
    margin-right: 310px;
    display: flex;
    justify-content: space-between;
}
.footer-menu > ul > li > a {
    color: #fff;
}
.footer-menu > ul > li > a:hover {
    color: #00b7f2;
}

/* sns */
.sns {
    width: 150px;
    display: flex;
    justify-content: space-between;
}
.sns img {
    width: 42px;
}

/* info-CS-top */
.info-CS-top > .container {
    display: flex;
}

/* info */
.info {
    width: 480px;
    margin: 40px 0 28px;
    color: #ececec;
    font-size: 14px;
    line-height: 1.8;
}
.info > .fax-email {
    padding: 16px 0;
}
.info > .fax-email li a { /* repeat,사이즈 적용안됨 */
    height: 30px;
    line-height: 30px;
    padding-left: 40px;
    color: #fff;
    font-size: 22px;
}
.info > .fax-email li:first-child a {
    background: url(../images/fax.png) no-repeat;
    background-size: 28px;
}
.info > .fax-email li:last-child a {
    background: url(../images/email.png) no-repeat;
    background-size: 28px;
}

/* cs */
.cs {
    width: 580px;
    margin: 72px 0 28px; /* 수정 */
    display: flex;
    justify-content: space-between;
}
.cs > .cs-info > .cs-btn {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 280px;
}
.cs > .cs-info > .cs-btn > a {
    color: #c5d825;
    font-size: 22px;
}
.cs > .cs-info > .cs-btn > a:first-child {
    width: 150px;
    color: #fff;
    font-size: 24px;
    background: url(../images/cs.png) no-repeat;
    background-size: 30px;
    padding-left: 36px;
}
.cs > .cs-info > a {
    color: #00b7f2;
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 2px;
}
.cs > .cs-worktime > p {
    color: #ececec;
    font-size: 24px;
    line-height: 1.25;
}
.cs > .cs-worktime > p > .cond {
    letter-spacing: -0.8px;
}

.top img {
    width: 40px;
    position: absolute;
    bottom: 28px; right: 10px;
}